* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  color: #000000;
  font-family: sans-serif ;
  font-size: 14px;
}

body {
  width: 100%;
  height: auto;
  /*background: #dbcedf; */
  background:linear-gradient(30deg,  #dbcedf,rgb(204, 128, 194),  #d2a2e0,  #d6bdde,  #ded9df);
 }

   /* linea antes del pie de pagina */
 .linea {
  background-color: #6e038c;
  margin-top: 1.5rem;
}

.empresa {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 0.5rem;
}
.empresa div{
  font-family: 'Carter One';
  font-size: 2rem;
  color: #6e038c;
}
 /* largar label del registro de cliente*/ 
.L-registrocliente{
  width: 80px;
}

.texto-page{
  font-family: 'Carter One';
  color: #000000;
}
.texto-servicio{
  border: radius 5px;
  color: #000000;
  font-family: 'Carter One';
}

.texto-servicio:hover{
  border: radius 10px;
  background-color: #96088d;
  color: #d6bdde;
}


.logo{
  width: 120px;
  height: 120px;
}

#imagen-principal{
    padding: 2rem;
    border: radius 3px;
    box-shadow: 0px 0px 15px 15px #96088d;    
}

#imagen-principal:hover{
    border-radius:50%;
    box-shadow: 0px 0px 15px 15px #96088d;
}

.titulo-session{
  font-family: 'Carter One';
  font-size: 1.7rem;
  color: #6e038c;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#btn_propio {
  background-color:rgb(232, 222, 246);
  border: 2px solid #0c6050;
  padding: 5px;
  color: black;
}

#btn_propio:hover {
  background-color: #1a8d5d;
  color: #f3f6f5;
}

.carousel-itema img {
  width: 300px;
  height: 70px;
}
.container-prod{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(15rem,1fr));
  gap: 20px;
  padding: 20px;
  font-size: small;  
  }
  
  .container-prod> * {
    background-color: rgb(253, 250, 250);
    border: 2px solid black;
    color: rgb(10, 10, 10);
    border: 2px solid #0c6050;
    border-radius: 15px;
    padding: 10px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    
  }

  .container-img  {
    text-align: center;
  }
  .container-img figure{
    width: 100%;
    height: 150px;
    max-height: 150px;
  
   }
  
  .container-img figure img{
    width: 150px;
    height: 150px;
    max-height: 150px;
    border-radius: 20px;
    
  }

 .carousel-item img {
  width: 150px;
  height: 400px;
 }

 .imagen-footer{
  width: 50px;
  height: 50px;
}



 /* ICONO CORAZON ANIMADO*/ 
.heart {
  background-image: url(https://cssanimation.rocks/images/posts/steps/heart.png);
  background-position: left;
  background-repeat: repeat;
  background-size: 1450px;
  cursor: pointer;
  height: 15px;
  width: 50px;
}
.heart:hover
{
  background-position: right;
}