* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: monospace;
  
}
body {
  width: 100%;
  height: auto;
  background-color: rgb(232, 222, 246);
 
}


.empresa {
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 0.5rem;
}
.empresa div{
  font-family: 'Carter One';
  font-size: 4rem;
  color: #6e038c;
}
.logo{
  width: 120px;
  height: 120px;
  }


.titulo-session{
  font-family: 'Carter One';
  font-size: 1.7rem;
  color: #6e038c;
}

#btn_propio {
  background-color:rgb(232, 222, 246);
  border: 2px solid #0c6050;
  padding: 5px;
  color: black;
}

#btn_propio:hover {
  background-color: #1a8d5d;
  color: #f3f6f5;
}

.container-prod{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(15rem,1fr));
  gap: 20px;
  padding: 20px;
  font-size: small;  
  }
  
  .container-prod> * {
    background-color: rgb(253, 250, 250);
    border: 2px solid black;
    color: rgb(10, 10, 10);
    border: 2px solid #0c6050;
    border-radius: 15px;
    padding: 10px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    
  }

  .container-img  {
    text-align: center;
  }
  .container-img figure{
    width: 100%;
    height: 150px;
    max-height: 150px;
  
   }
  
  .container-img figure img{
    width: 150px;
    height: 150px;
    max-height: 150px;
    border-radius: 20px;
    
  }

